$white: #ffffff;
$whiteBlue: #f4f2ff;
$lightGray: #f2f0f9;
$normalGray: #f2f0f9;
$lightGrayBlue: #8b83ba;
$darkGrayBlue: #6e6893;
$darkBlue: #25213b;
$lightBlue: #6d5bd0;
$red: #d30000;
$lightRed: #ffe0e0;
$green: #007f00;
$lightGreen: #cdffcd;
$blue: #4a4aff;
$stroke: #c6c2de;
$border: #d9d5ec;

.dictDescriptionPage {
  .pageTitle {
    width: calc(100% - 135px);
    margin: 25px 50px 10px 50px;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $darkGrayBlue;
  }

  .table {
    width: calc(100vw - 100px);
    margin: 10px 50px;
    background: $white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    &__header {
      width: calc(100% - 40px);
      padding: 15px 20px;
      display: flex;
      align-items: center;
      .leavePage {
        margin-right: 10px;
        button {
          width: 30px;
          height: 30px;
          background: none;
          border: none;
          border-radius: 4px;
          padding: 5px;
          color: $darkGrayBlue;
          cursor: pointer;
          transition: ease-in-out .3s;
          &:hover {
            background: $normalGray;
            color: $lightBlue;
          }
          i {
            font-size: 18px;
          }
        }
      }
    }
    &__footer {
      width: calc(100% - 40px);
      height: 50px;
      padding: 5px 20px;
      background: $whiteBlue;
      border-radius: 0 0 8px 8px;
      border-top: 1px solid $border;
    }
  }
}
